<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>库存管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/images/logo.png" rel="shortcut icon" type="image/png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">

    <link rel="stylesheet" href="/css/skin-blue-light.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/css/plugins/iCheck/flat/blue.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/css/plugins/datepicker/datepicker3.css">
</head>
<body class="skin-blue-light fixed sidebar-mini">
<div class="wrapper">
    <div th:replace="header :: header"></div>
    <div th:replace="menu :: menu('basedata','innerdepartmentinfo')"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                基础数据管理
                <small>内部部门信息</small>
            </h1>
        </section>

        <!-- Main content -->
        <section id="list" class="content">
            <div class="box box-widget">
                <div class="box-body">
                    <form class="">
                        <div class="col-md-2 form-group">
                            <label class="control-label">部门编码:</label>
                            <input type="text" v-model="searchInnerDepartmentInfo.departmentId" class="form-control"
                                   placeholder="部门编码">
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">部门名称:</label>
                            <input type="text" v-model="searchInnerDepartmentInfo.departmentName" class="form-control"
                                   placeholder="部门名称"/>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">部门职能:</label>
                            <input type="text" v-model="searchInnerDepartmentInfo.departmentFunction"
                                   class="form-control"
                                   placeholder="部门职能"/>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">资产管理员电话:</label>
                            <input type="text" v-model="searchInnerDepartmentInfo.mobileOfPropertyAdmin"
                                   class="form-control"
                                   placeholder="资产管理员电话"/>
                        </div>
                        <div class="col-md-2 form-group" style="margin-top: 25px">
                            <button type="button" v-on:click="search" class="btn btn-success">
                                <i class="fa fa-search"> 查询</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header">
                        <h3 class="box-title">部门查询</h3>

                        <div class="box-tools">
                            <div class="input-group">
                                <button class="btn btn-info btn-sm pull-right" v-on:click="exportExcel"><i
                                        class="fa fa-file-excel-o"> 导出</i></button>
                                <button class="btn btn-info btn-sm" style="margin-right: 10px" v-on:click="insert"><i
                                        class="fa fa-plus"> 新增</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>部门编码</th>
                                <th>部门名称</th>
                                <th>部门职能</th>
                                <th>资产管理员电话</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            <tr v-for="innerDepartmentInfo in innerDepartmentInfos">
                                <td>
                                    {{innerDepartmentInfo.departmentId}}
                                </td>
                                <td>
                                    {{innerDepartmentInfo.departmentName}}
                                </td>
                                <td>
                                    {{innerDepartmentInfo.departmentFunction}}
                                </td>
                                <td>
                                    {{innerDepartmentInfo.mobileOfPropertyAdmin}}
                                </td>
                                <td>
                                    {{innerDepartmentInfo.memo}}
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm" v-on:click="edit(innerDepartmentInfo)">
                                        <i class="fa fa-edit"> 修改</i>
                                    </button>
                                    <button class="btn btn-info btn-sm" style="margin-right: 10px"
                                            v-on:click="remove(innerDepartmentInfo)">
                                        <i class="fa fa-remove"> 删除</i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div id="pagination" class="row text-center">
            <ul class="pagination-sm pagination">
                <li v-bind:class="{disabled:first}"
                    class="pagination-first ng-scope">
                    <a href="#" @click="selectPage(0)" class="ng-binding">&lt;&lt;</a>
                </li>
                <li v-bind:class="{disabled:first}"
                    class="pagination-prev ng-scope">
                    <a href="#" @click="selectPage(number - 1)" class="ng-binding">&lt;</a>
                </li>

                <li v-for="pageNumber in totalPages"
                    v-bind:class="{active:pageNumber==number+1}"
                    class="pagination-page ng-scope">
                    <a href="#" @click="selectPage(pageNumber-1)" class="ng-binding">{{pageNumber}}</a>
                </li>

                <li v-bind:class="{disabled:last}" class="pagination-next ng-scope">
                    <a href="#" @click="selectPage(number + 1)" class="ng-binding">&gt;</a>
                </li>

                <li v-bind:class="{disabled:last}" class="pagination-last ng-scope">
                    <a href="#" @click="selectPage(totalPages-1)" class="ng-binding">&gt;&gt;</a>
                </li>

            </ul>
        </div>
        <!-- /.content -->
        <!-- Modal -->
        <div class="modal fade" id="insertOrEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 v-if="innerDepartmentInfo.departmentId" class="modal-title" id="myModalLabel">编辑部门</h4>
                        <h4 v-else class="modal-title" id="myModalLabel">新增部门</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="departmentName" class="control-label">部门名称:</label>
                                <input type="text" required id="departmentName" class="form-control"
                                       v-model="innerDepartmentInfo.departmentName">
                            </div>
                            <div class="form-group">
                                <label for="departmentFunction" class="control-label">部门职能:</label>
                                <input type="text" id="departmentFunction" class="form-control"
                                       v-model="innerDepartmentInfo.departmentFunction">
                            </div>
                            <div class="form-group">
                                <label for="mobileOfPropertyAdmin" class="control-label">资产管理员电话:</label>
                                <input type="number" id="mobileOfPropertyAdmin" class="form-control"
                                       v-model="innerDepartmentInfo.mobileOfPropertyAdmin">
                            </div>
                            <div class="form-group">
                                <label for="memo" class="control-label">备注:</label>
                                <textarea id="memo" class="form-control"
                                          v-model="innerDepartmentInfo.memo"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" v-on:click="save" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</div>

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>
<!-- datepicker -->
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-datepicker.zh-CN.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/AdminLTE.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-resource.min.js"></script>

<script>
    var list = new Vue({
        el: '#list',
        data: {
            searchInnerDepartmentInfo: {pageNumber: 0, pageSize: 10},
            innerDepartmentInfos: []
        },
        methods: {
            search: function () {
                Vue.http.post('/innerDepartmentInfo/search', this.searchInnerDepartmentInfo).then(function (reps) {
                    return reps.json();
                }).then(function (resp) {
                    list.innerDepartmentInfos = resp.content;
                    pagination.first = resp.first;
                    pagination.last = resp.last;
                    pagination.totalPages = resp.totalPages;
                    pagination.number = resp.number;
                });
            },
            exportExcel: function () {
                window.location = '/innerDepartmentInfo/export';
            },
            remove: function (innerDepartmentInfo) {
                Vue.http.post('/innerDepartmentInfo/delete', innerDepartmentInfo).then(function (reps) {
                    list.search();
                });
            },
            edit: function (innerDepartmentInfo) {
                insertOrEdit.innerDepartmentInfo = innerDepartmentInfo;
                $('#insertOrEdit').modal();
            },
            insert: function () {
                insertOrEdit.innerDepartmentInfo = {};//新增先new一个新的对象;
                $('#insertOrEdit').modal();
            }
        }
    });
    list.search();
    var insertOrEdit = new Vue({
        el: '#insertOrEdit',
        data: {
            innerDepartmentInfo: {}
        },
        methods: {
            save: function () {
                Vue.http.post('/innerDepartmentInfo/save', this.innerDepartmentInfo).then(function (reps) {
                    list.search();
                }, function (error) {
                    console.error(error);
                });
                $('#insertOrEdit').modal('hide');
            }
        }
    });
    var pagination = new Vue({
        el: '#pagination',
        data: {
            first: true,
            last: true,
            totalPages: 1,
            number: 0
        },
        methods: {
            selectPage: function (pageNumber) {
                if (pageNumber < 0 || pageNumber >= this.totalPages) {
                    return;
                }
                list.searchInnerDepartmentInfo.pageNumber = pageNumber;
                list.search();
            }
        }
    });
</script>

</body>
</html>