<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>库存管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/images/logo.png" rel="shortcut icon" type="image/png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">

    <link rel="stylesheet" href="/css/skin-blue-light.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/css/plugins/iCheck/flat/blue.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/css/plugins/datepicker/datepicker3.css">
</head>
<body class="skin-blue-light fixed sidebar-mini">
<div class="wrapper">
    <div th:replace="header :: header"></div>
    <div th:replace="menu :: menu('purchaseinfo','report')"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                入库管理
                <small>入库统计</small>
            </h1>
        </section>

        <!-- Main content -->
        <section id="reset" class="content">
            <div class="box box-widget">
                <div class="box-body">
                    <form class="">
                        <div class="col-md-2 form-group">
                            <label class="control-label">入库日期:</label>
                            <input type="text" v-model="searchPurchaseInfo.purchaseDate" class="form-control"
                                   placeholder="供应商编码">
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">供应商:</label>
                            <input type="text" v-model="searchPurchaseInfo.supplierId" class="form-control"
                                   placeholder="供应商名称"/>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">耗材类别:</label>
                            <input type="text" v-model="searchPurchaseInfo.categoryId" class="form-control"
                                   placeholder="供应商地址"/>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">耗材编码:</label>
                            <input type="text" v-model="searchPurchaseInfo.computerMaterialsId" class="form-control"
                                   placeholder="供应商电话"/>
                        </div>
                        <div class="col-md-2 form-group" style="margin-top: 25px">
                            <button type="button" ng-click="search()" class="btn btn-success">
                                <i class="fa fa-search"> 查询</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header">
                        <h3 class="box-title">入库统计查询</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>入库单号</th>
                                <th>入库日期</th>
                                <th>供应商</th>
                                <th>材编码</th>
                                <th>耗材名称</th>
                                <th>耗材规格</th>
                                <th>所属类别</th>
                                <th>单位</th>
                                <th>入库数量</th>
                                <th>单价</th>
                                <th>合计金额</th>
                                <th>备注信息</th>
                            </tr>
                            <tr v-for="purchaseInfo in purchaseInfos">
                                <td>
                                    {{purchaseInfo.purchaseCode}}
                                </td>
                                <td>
                                    {{purchaseInfo.purchaseDate}}
                                </td>
                                <td>
                                    {{purchaseInfo.supplierInfo.supplierName}}
                                </td>
                                <td>
                                    {{purchaseInfo.computerMaterialsInfo.computerMaterialsId}}
                                </td>
                                <td>
                                    {{purchaseInfo.computerMaterialsInfo.computerMaterialsName}}
                                </td>
                                <td>
                                    {{purchaseInfo.computerMaterialsInfo.computerMaterialsSpecifications}}
                                </td>
                                <td>
                                    {{purchaseInfo.computerMaterialsCategory.categoryName}}
                                </td>
                                <td>
                                    {{purchaseInfo.computerMaterialsInfo.computerMaterialsUnit}}
                                </td>
                                <td>
                                    {{purchaseInfo.purchaseQuantity}}
                                </td>
                                <td>
                                    {{purchaseInfo.purchasePrice}}
                                </td>
                                <td>
                                    {{purchaseInfo.purchasePrice}}
                                </td>
                                <td>
                                    {{purchaseInfo.memo}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-footer text-center clearfix">
                        <ul class="pagination pagination-sm no-margin text-center">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <div th:replace="footer :: footer"></div>
</div>

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>
<!-- datepicker -->
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-datepicker.zh-CN.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/AdminLTE.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>

<script>
    var reset = new Vue({
        el: '#reset',
        data: {
            searchPurchaseInfo: {pageNumber: 0, pageSize: 10},
            purchaseInfos: [{
                purchaseCode: 'RK1111',
                computerMaterialsCategory: {categoryName: '类别一'},
                supplierInfo: {supplierName: '供应商'},
                computerMaterialsInfo: {computerMaterialsId: 1}
            }]
        },
        method: {
            search: function () {

            },
            export: function () {

            }
        }
    })
</script>

</body>
</html>