<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>库存管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/images/logo.png" rel="shortcut icon" type="image/png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">

    <link rel="stylesheet" href="/css/skin-blue-light.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/css/plugins/iCheck/flat/blue.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/css/plugins/datepicker/datepicker3.css">
</head>
<body class="skin-blue-light fixed sidebar-mini">
<div class="wrapper">
    <div th:replace="header :: header"></div>
    <div th:replace="menu :: menu('system','resetpassword')"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                系统管理
                <small>密码重置</small>
            </h1>
        </section>

        <!-- Main content -->
        <section id="reset" class="content">
            <div th:if="${wrongPassword}" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-warning"></i> 错误!</h4>
                <span th:text="${wrongPassword}">旧密码不正确.</span>
            </div>
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">旧密码</label>

                    <div class="col-sm-2">
                        <input v-model="password" name="password" type="password" class="form-control"
                               placeholder="旧密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">新密码</label>

                    <div class="col-sm-2">
                        <input v-model="newPassword" name="newPassword" type="password" class="form-control"
                               placeholder="新密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">再次输入新密码</label>

                    <div class="col-sm-2">
                        <label v-if="notSame" class="control-label" for="rePassword"><i
                                class="fa fa-times-circle-o"></i>密码不一致</label>
                        <input v-model.lazy="rePassword" name="rePassword" type="password" class="form-control"
                               placeholder="再次输入新密码">
                    </div>
                </div>
                <button v-bind:disabled="canNotSubmit" type="submit" class="col-sm-offset-2 btn btn-info">
                    保存
                </button>
            </form>
        </section>
        <!-- /.content -->
    </div>
    <div th:replace="footer :: footer"></div>
</div>

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>
<!-- datepicker -->
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-datepicker.zh-CN.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/AdminLTE.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>

<script>
    var reset = new Vue({
        el: '#reset',
        data: {
            newPassword: '',
            rePassword: '',
            password: ''
        },
        computed: {
            notSame: function () {
                if (this.newPassword != this.rePassword) {
                    return true;
                } else {
                    return false;
                }
            },
            canNotSubmit: function () {
                if (this.password == '' || this.newPassword == '' || this.rePassword == '') {
                    return true;
                }
                if (this.notSame) {
                    return true;
                } else {
                    return false;
                }
            }
        }
    })
</script>

</body>
</html>